::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

audio,
video {
    outline: none;
    width: 100%;
}

button {
    border: none;
    color: inherit;
    background-color: unset;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-family: var(--font);
}

button:disabled {
    cursor: not-allowed;
}

body {
    font-family: var(--font);
    font-size: 16px;
    --font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #444444;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    border: none;
    font-family: var(--font);
    font-size: inherit;
    padding: .2em;
    outline: none;
}

input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid var(--color-neutral-lighter);
    padding: 0;
    outline: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

select {
    font-size: inherit;
    font-family: var(--font);
    border: none;
    padding-right: 1em;
    background-color: transparent;
    color: inherit;
    outline: none;
}

textarea {
    font-family: inherit;
    display: block;
    box-sizing: border-box;
    outline: none;
    padding: 0.2em;
    font-size: 1em;
}

ul:not(.ul) {
    list-style-type: none;
}

vue-mathjax-latex {
    width: 100%;
    display: block;
}

.hidden {
    display: none !important;
}

.absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {transform: var(--transform) rotateZ(0)}
    to {transform: var(--transform) rotateZ(360deg)}
}
