header {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
}

#main {
    margin: auto;
    padding: 50px;
    width: 300px;
}

#form-login {
    display: grid;
    grid-gap: 30px;
}

.form-group {
    position: relative;
}

label {
    position: absolute;
    bottom: 105%;
    font-size: .8em;
    color: var(--color-prim-lighter);
}

input {
    font-family: inherit;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid var(--color-prim-lighter);
}

.login-error {
    height: 40px;
    line-height: 40px;
    border: 1px solid;
    background-color: #ffff0033;
    color: #b3b300;
    text-align: center;
}

#message {
    width: calc(100% + 100px);
    position: relative;
    left: -50px;
    top: -50px;
}

#message > ul {
    padding: 10px 30px 0;
}
.form-group:focus-within {
    --color-prim-lighter: var(--color-sec-lighter);
}

.form-group > input:focus {
    box-shadow: 0 0 .6rem var(--color-sec-lighter);
}

.btn-lighter:focus {
    --btn-color: var(--color-sec-lighter);
}

.btn-icon:focus,
.btn-icon:hover {
    color: var(--btn-color);
    background-color: white;
}

.btn-icon:focus::after,
.btn-icon:hover::after,
.btn-icon::before {
    top: -2px;
}

.btn-icon:focus::before,
.btn-icon:hover::before {
    top: -48px;
}
